Data Wrangling, I
Perform the following operations using Python on any open source dataset (e.g., data.csv)
1. Import all the required Python Libraries.
2. Locate an open source data from the web (e.g. https://www.kaggle.com). Provide a clear 
description of the data and its source (i.e., URL of the web site).
3. Load the Dataset into pandas data frame.
4. Data Preprocessing: check for missing values in the data using pandas insult(), describe() 
function to get some initial statistics. Provide variable descriptions. Types of variables 
etc. Check the dimensions of the data frame.
5. Data Formatting and Data Normalization: Summarize the types of variables by checking 
the data types (i.e., character, numeric, integer, factor, and logical) of the variables in the 
data set. If variables are not in the correct data type, apply proper type conversions.
6. Turn categorical variables into quantitative variables in Python.
In addition to the codes and outputs, explain every operation that you do in the above steps and 
explain everything that you do to import/read/scrape the data set.

In [1]:
# 1
import pandas as pd
import numpy as np 
import seaborn as sn
import matplotlib.pyplot as plt

In [2]:
# 2,3 
dt = pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/abalone_data/training_set_label.csv")

In [3]:
dt.head()

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,F,0.525,0.400,0.135,0.7140,0.3180,0.1380,0.208,10
1,F,0.445,0.325,0.125,0.4550,0.1785,0.1125,0.140,9
2,M,0.710,0.540,0.165,1.9590,0.7665,0.2610,0.780,18
3,F,0.680,0.580,0.200,1.7870,0.5850,0.4530,0.600,19
4,M,0.605,0.470,0.160,1.1735,0.4975,0.2405,0.345,12

In [4]:
# 5
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3132 entries, 0 to 3131
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Sex             3132 non-null   object
 1   Length          3132 non-null   float64
 2   Diameter        3132 non-null   float64
 3   Height          3132 non-null   float64
 4   Whole weight    3132 non-null   float64
 5   Shucked weight  3132 non-null   float64
 6   Viscera weight  3132 non-null   float64
 7   Shell weight    3132 non-null   float64
 8   Rings           3132 non-null   int64
dtypes: float64(7), int64(1), object(1)
memory usage: 220.3+ KB

In [5]:
dt.isna().sum()

Sex               0
Length            0
Diameter          0
Height            0
Whole weight      0
Shucked weight    0
Viscera weight    0
Shell weight      0
Rings             0
dtype: int64

In [6]:
# part 1 use describe()
# 4
dt.describe()

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
count,3132.000000,3132.000000,3132.000000,3132.00000,3132.000000,3132.000000,3132.000000,3132.000000
mean,0.523707,0.407952,0.139277,0.82867,0.359229,0.180731,0.239159,9.947957
std,0.119891,0.099336,0.038991,0.49063,0.221946,0.109924,0.139040,3.230252
min,0.110000,0.090000,0.000000,0.00800,0.002500,0.000500,0.003000,2.000000
25%,0.450000,0.350000,0.115000,0.44150,0.185375,0.093375,0.130000,8.000000
50%,0.545000,0.425000,0.140000,0.79950,0.335500,0.170000,0.235000,10.000000
75%,0.615000,0.480000,0.165000,1.15300,0.499500,0.252500,0.330000,11.000000
max,0.815000,0.650000,0.515000,2.82550,1.488000,0.760000,1.005000,29.000000

In [7]:
# ch = sn.countplot(dt.Sex)

In [8]:
# sn.heatmap(dt.corr(), annot = True)

In [9]:
# sn.boxplot(data=dt,x='Sex', y='Rings')

In [12]:
# categorical to quantitative
dt2 = pd.get_dummies(dt, columns = ["Sex"])
dt2

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings,Sex_F,Sex_I,Sex_M
0,0.525,0.400,0.135,0.7140,0.3180,0.1380,0.2080,10,1,0,0
1,0.445,0.325,0.125,0.4550,0.1785,0.1125,0.1400,9,1,0,0
2,0.710,0.540,0.165,1.9590,0.7665,0.2610,0.7800,18,0,0,1
3,0.680,0.580,0.200,1.7870,0.5850,0.4530,0.6000,19,1,0,0
4,0.605,0.470,0.160,1.1735,0.4975,0.2405,0.3450,12,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
3127,0.415,0.315,0.120,0.4015,0.1990,0.0870,0.0970,8,0,0,1
3128,0.325,0.240,0.070,0.1520,0.0565,0.0305,0.0540,8,0,1,0
3129,0.565,0.455,0.155,0.9355,0.4210,0.1830,0.2600,11,0,0,1
3130,0.610,0.485,0.145,1.3305,0.7830,0.2255,0.2865,9,0,0,1
3131,0.655,0.505,0.190,1.3485,0.5935,0.2745,0.4250,12,1,0,0

In [11]:
dt2.describe()

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings,Sex_F,Sex_I,Sex_M
count,3132.000000,3132.000000,3132.000000,3132.00000,3132.000000,3132.000000,3132.000000,3132.000000,3132.000000,3132.000000,3132.000000
mean,0.523707,0.407952,0.139277,0.82867,0.359229,0.180731,0.239159,9.947957,0.313218,0.323436,0.363346
std,0.119891,0.099336,0.038991,0.49063,0.221946,0.109924,0.139040,3.230252,0.463876,0.467862,0.481040
min,0.110000,0.090000,0.000000,0.00800,0.002500,0.000500,0.003000,2.000000,0.000000,0.000000,0.000000
25%,0.450000,0.350000,0.115000,0.44150,0.185375,0.093375,0.130000,8.000000,0.000000,0.000000,0.000000
50%,0.545000,0.425000,0.140000,0.79950,0.335500,0.170000,0.235000,10.000000,0.000000,0.000000,0.000000
75%,0.615000,0.480000,0.165000,1.15300,0.499500,0.252500,0.330000,11.000000,1.000000,1.000000,1.000000
max,0.815000,0.650000,0.515000,2.82550,1.488000,0.760000,1.005000,29.000000,1.000000,1.000000,1.000000